$border-size: 1px;
$font-size: 16px;
$with-radius: true;

.theme {
  background-color: yellow;
  color: #333;
}

.tag {
  @extend .theme;
  display: block;
  float: left;
  text-decoration: none;
  font-size: $font-size;
  padding: ($font-size / 2) ($font-size / 1.5);
  line-height: 1;
  position: relative;
  margin-left: $font-size * 0.75;
  border-width: $border-size $border-size $border-size 0;

  @if ($with-radius) {
    // border-radius(0 $font-size / 4 $font-size / 4 0);
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
    display: block;
  }
  &::before {
    left: 0;
    top: 0;
    width: $font-size;
    height: $font-size;

    background-color: #007bff; /* Background color */
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%); /* Clip to triangle shape */
    border-radius: 3px; /* Apply a border radius */
    transform: rotate(45deg);
  }
}
